body {
  background-color: black;
  padding: 5px;
  margin: 20px;
}
main {
  background-color: white;
  color: black;
  padding: 20px;
  margin: 0px;
  text-align: center;
}
header {
  background-color: gray;
  margin: 0px;
  padding: 10px;
  color: white;
}
h2 {
  text-align: left;
}
div {
  margin: 0px;
  padding: auto;
}
table {
  border: 2px solid black;
  padding: 5px;
  width: 100%;
  background-color: lightgrey;
  border-collapse: collapse;
}
td, th {
  padding: 5px;
  text-align: center;
  border: 1px solid black;
}

button {
  padding: 3px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
input {
  margin: 5px;
  padding: 5px;
}
h3 {
  text-align: center;
}